# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

# Test coverage
coverage/

# custom files
stitch_systems_software_lab
.bash_profile
.bashrc
.gitconfig
.gitmodules
.mcp.json
.profile
.ripgreprc
.vscode
.zprofile
.zshrc
.claude/agents
.claude/commands
